.mainContainer {
  margin: 0 auto;
}

.form {
}
.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto;
  background-color: var(--white);
  border: none;
  border-radius: 15px;
  padding: 10px;
  gap: 10px;
}

@media (min-width: 580px) {
  .mainContainer {
  }
  .container {
    grid-template-columns: minmax(520px, 700px);
  }
}

@media (min-width: 960px) {
  .container {
    grid-template-columns: minmax(200px, 520px) minmax(520px, auto);
    column-gap: 20px;
    row-gap: 0;
    padding: 20px;
  }
}
