.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
  border: none;
  gap: 10px;
}

.resultItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 580px) {
  .resultContainer {
    gap: 30px;
  }
  .resultItems {
    gap: 40px;
  }
}
