.button {
  text-transform: uppercase;
  padding: 15px;
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 300ms ease-out;
  font-size: 20px;

  &:disabled {
    background-color: var(--dark-grayish-cyan);
    cursor: auto;
  }
}
@media (min-width: 960px) {
  .button {
    &:hover {
      background-color: var(--light-grayish-cyan);
      transition: background-color 300ms ease-out;
    }
    &:disabled:hover {
      background-color: var(--dark-grayish-cyan);
    }
  }
}
