.inputComponent {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 5px;
  gap: 10px;
}

.error {
  height: 30px;
  color: var(--color-red);
  font-size: 10px;
  font-weight: 200;
}

.label {
  cursor: pointer;
  font-size: 10px;
  letter-spacing: 4px;
  font-weight: 500;
  text-transform: uppercase;
}

.input {
  display: block;
  padding: 0 10px;
  height: 60px;
  min-width: 40px;
  max-width: 150px;
  border: none;
  border: 1px solid var(--color-light-grey);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  &::placeholder {
    color: var(--color-grey);
    opacity: 1;
    font-size: 14px;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-grey);
  }
}
.inputError {
  border: 1px solid var(--color-red);
}

.textError {
  color: var(--color-red);
}

@media (min-width: 900px) {
  .label {
    font-size: 14px;
    letter-spacing: 6px;
  }

  .inputContainer {
    gap: 20px;
  }

  .inputComponent {
    min-width: 220px;
  }

  .input {
    height: 60px;
    font-size: 28px;

    &::placeholder {
      font-size: inherit;
    }
  }
  .error {
    font-size: 16px;
  }
}
